h1{
    color: rgb(185, 204, 16);
}
div{
    
    height:100px;
    width:100px;
   
    border:2px solid black;
    display: inline-block;
}

body {
  background-image: url("butterfly.jpg");
  background-size: cover;
}
#box1{
    background-color: black;

height: 20px;
width: 20px;
}


